/*  Header */

h1 {
	color: #59ABDF;
	font-family: 'Lato', sans-serif;
	font-size: 3em;
	font-weight: 100;
	margin-bottom: 0;
}

h2 {
	color: #4584AC;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	font-weight: 900;
	margin-bottom: 30px;
	margin-top: 10px;
}

h3, h4 {
	font-family: 'Lato', sans-serif;
}

h3 {
	margin-bottom: 0;
}

h4 {
	color: #4584AC;
}

header { text-align: center;}

.header__nav-ul {
	list-style: none;
	padding-left: 0;
}

.header__nav-ul li {
	display: inline-block;
	margin: 0 15px;
}

.header__nav-ul li:last-of-type {
	margin-left: 0;
}

.header__a {
	color: #939133;
	font-family: 'Lato', sans-serif;
	padding: 5px 10px;
	text-decoration: none;
}

.header__a:hover {
	border: 1px solid #4584AC;
	border-radius: 3px;
	color: #4584AC;
}

/* Main */
.grid-pad--sixtysixPercent {
	margin: 0 auto;
	position: relative;
	width: 66%;
}
p { font-family: 'Lato', sans-serif;}
img {
	border: 5px solid #eee;
}

img:hover {
	border: 5px solid #ccc;
	opacity: 0.4;
}

figure {
	margin: 0;
	position: relative;
}

figcaption {
	background-color: #4584AC;
	color: #fff;
	font-family: 'Lato', sans-serif;
	width: 100%;
	text-align: center;
}

.figure__overlay {
	background-color: rgba(249, 249, 249, 0.7);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
}

.figure__overlay-h3 {
	margin-top: 5em;
}

figure:hover .figure__overlay {
	opacity: 1;
	transition: all 1s ease;
}

.figure__h4 {
	color: #eee;
	margin: 0;
	padding-top: 1em;
}

.figure__h5 {
	font-weight: 400;
	margin-top: 1em;
	padding-bottom: 0.5em;
}

.figure__link {
	color: #4584ac;
	text-shadow: 1px 1px 0 #111;
}