/*  Header */
.triangle,
.triangle--red,
.triangle--blue,
.triangle--orange,
.triangle--pink ,
.triangle--olive {
	height: 0;
	width: 0;
	border: 3em solid transparent;
	border-left: 3em solid #333;
	border-top: 3em solid #333;
	display: inline-block;
	position: absolute;
}
.triangle--red {
	border-left: 3em solid #85144b;
	border-top: 3em solid #85144b;
}
.triangle--blue {
	border-left: 3em solid #0074d9;
	border-top: 3em solid #0074d9;
}
.triangle--orange {
	border-left: 3em solid #ff851b;
	border-top: 3em solid #ff851b;
}
.triangle--pink {
	border-left: 3em solid #f012be;
	border-top: 3em solid #f012be;
}
.triangle--olive {
	border-left: 3em solid #3d9970;
	border-top: 3em solid #3d9970;
}
h1,
#h1-main {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-size: 3em;
	font-weight: 100;
	margin-bottom: 0;
}

h2 {
	color: #4584AC;
	font-family: 'Gentium Book Basic', serif;
	font-size: 1.5em;
	font-weight: 400;
	margin-bottom: 30px;
	margin-top: 10px;
}

h3, h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

h3 {
	margin-bottom: 0;
}

h4 {
	color: #4584AC;
}

header {
	text-align: center;
}

.header--alignLeft {
	text-align: left;
}

.header__nav-ul {
	list-style: none;
	padding-left: 0;
}

.header__nav-ul li {
	display: inline-block;
	margin: 0 15px;
}

.header__nav-ul li:last-of-type {
	margin-left: 0;
}

.header__a {
	border: 1px solid transparent;
	color: #939133;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding: 5px 10px;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}

.header__a:hover {
	border: 1px solid #4584AC;
	border-radius: 3px;
	color: #4584AC;
}

/* Main */
.btn--floatRight {
	background-color: transparent;
	border: 1px solid #4584AC;
	border-radius: 3px;
	color: #4584AC;
	float: right;
	padding: 0.5em;
	text-decoration: none;
}
.btn--floatRight:hover {
	border-color: #414BB9;
}
.btn--floatRight a {
	padding: 1em;
	text-decoration: none;
}
.grid-pad--sixtysixPercent {
	margin: 0 auto;
	position: relative;
	width: 66%;
}
.p--textCentered {
	text-align: center;
}

.col-1-2--centered {
	float: none;
	margin: 0 auto;
	width: 50%;
}
p {
	font-family: 'Gentium Book Basic', serif;
	font-size: 1.25em;
	text-align: left;
}
.image--small {
	border: 5px solid #eee;
	max-width: 600px;
}

.image--small:hover {
	border: 5px solid #ccc;
	opacity: 0.4;
}

.image--small-large {
	border: 5px solid #eee;
	max-width: 600px;
}

figure {
	margin: 0;
	position: relative;
}

figcaption {
	background-color: #4584AC;
	color: #fff;
	font-family: 'Lato', sans-serif;
	width: 100%;
	text-align: center;
}

.figure__overlay {
	background-color: rgba(249, 249, 249, 0.7);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
}

.figure__overlay-h3 {
	margin-top: 5em;
}

.figure__link:focus .figure__overlay,
.figure__overlay:hover {
	opacity: 1;
	transition: all 1s ease;
}

.figure__h4 {
	color: #eee;
	margin: 0;
	padding-top: 1em;
}

.figure__h5 {
	font-weight: 400;
	margin-top: 1em;
	padding-bottom: 0.5em;
}

.figure__link {
	color: #4584ac;
	text-shadow: 1px 1px 0 #111;
}

/*  INDIVIDUAL DESIGN PAGES  */
.image--large {
	border: 1px solid #aaa;
	box-shadow: 0 0 10px 0 #888;
	margin: 0 13px;
	max-width: 1200px;
}

.image--desktop {
	border: 1px solid #aaa;
	box-shadow: 0 0 3px 0 #888;
	margin-left: 1%;
	max-width: 1200px;
	width: 40.4%;
}

.image--notebook {
	border: 1px solid #aaa;
	box-shadow: 0 0 3px 0 #888;
	margin: 0 1%;
	max-width: 1200px;
	width: 24.543%;
}

.image--tablet {
	border: 1px solid #aaa;
	box-shadow: 0 0 3px 0 #888;
	margin: 0 1%;
	max-width: 400px;
	width: 16.317%;
}

.image--mobile {
	border: 1px solid #aaa;
	box-shadow: 0 0 3px 0 #888;
	margin: 0 1%;
	max-width: 400px;
	width: 8.05%;
}