/*  MAKE LAYOUT RESPONSIVE at 1024px FOR SMALLER SCREENS ================================================================ */


	
		header {
			width: 93.75%; /* 960px / 1024px */
		}

		#maincontent{
					width: 93.75%; /* 960px / 1024px */
		}
		
		.maincontent{
			width: 93.75%; /* 960px / 1024px */
		}

		footer {
			width: 93.75%; /* 960px / 1024px */
		}
		
		h1 {
			font-size: 6em;
		}
		
		nav ul li ul li {
			font-size: 0.8em;
		}
		
